
<div class="uk-card uk-card-default">

  <div class="uk-card-media-top uk-text-center">
    <img src="{{product.images[0]}}"  class="uk-margin-small" width="150" height="150">
  </div>
  <div class="uk-card-body">
    <h3 class="uk-card-title">{{product.price/100 | currency: 'BRL' }}</h3>
    <p style="height: 50px;">
      {{product.title}}
    </p>
    <button class="uk-button uk-button-default" uk-icon="icon:cart">
      <span class="uk-icon uk-margin-small-right">Adicionar</span>
    </button>




  </div>
</div>

